@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'Daydream';
  src: url('./font/daydream.ttf') format('truetype'); /* ou o formato adequado */
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: "Daydream" ;
  }

html {
  scroll-behavior: smooth;
}